=  semantic_form_for @equipamento do |f|
  - if @equipamento.errors.any?
    #error_explanation
      %h2= "#{pluralize(@equipamento.errors.count, "error")} prohibited this equipamento from being saved:"
      %ul
        - @equipamento.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :nome, label: 'Nome'
  .field
    = f.input :descricao, label: 'Descrição'
  .field
    = f.input :imagem
  .actions
    = f.submit 'Save'
