= semantic_form_for @reserva do |f|
  - if @reserva.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reserva.errors.count, "error")} prohibited this reserva from being saved:"
      %ul
        - @reserva.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :equipamento_id, as: :select,  collection:(Equipamento.all.map{|b| [b.nome, b.id]}), label: 'equipamento'
  .muted
    = f.input :usuario_id, as: :select, include_blank: false,  collection: {current_usuario.nome => current_usuario.id}, label: 'usuario'


  .field
    %div.input-append{id: "datetimepicker_inicio"}
      =f.label :horario_inicial
      =f.text_field :horario_inicial, as: :string, label: 'Horario inicial', input_html: {id: "appendedInput", class: "span2", type: "text"}
      %span2.add-on
        %i{"data-time-icon"=>"icon-time", "data-date-icon"=>"icon-calendar"}


  .field
    %div.input-append{id: "datetimepicker_fim"}  
      =f.label :horario_final
      =f.text_field :horario_final, as: :string, label: 'Horario inicial', input_html: {id: "appendedInput", class: "span2"}
      %span.add-on
        %i{"data-time-icon"=>"icon-time", "data-date-icon"=>"icon-calendar"}

  .actions
    = f.submit 'Save'