%div.container
  %div.row
    %div.span4.offset4.well
      %legend Sign in
      <!-- %div.alert.alert-error -->
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        = f.input :email, label: 'email'
        = f.input :password, label: 'senha'
        -if devise_mapping.rememberable?
          = f.input :remember_me, label: "Esqueci minha senha"
        %button.btn.btn-info.btn-block
          = f.submit


    = render "devise/shared/links"